<!DOCTYPE html>
<html>
  <head>
    <title> About </title>   
    <link rel="icon" href="/img/weather-icon.webp">       
    <link rel="stylesheet" href="/css/styles2.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p class="about-text"> 
        A weather forecast app that lets you retrieve the forecast for any address or location. 
        <br><br>
        Built with Node.Js, it integrates the <b>positionstack API</b> for geolocation and the <b>weatherstack API</b> for weather data.
      </p>
      <main></main>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
  </body>
</html>



